@import "../scss/config";

.header {
  .toggle-btn-container {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    .toggle-btn {
      border: none;
      svg {
        width: 9vh;
        height: 4vh;
        color: $black;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $SemiBlack;
        }
      }
      &:focus {
        box-shadow: none;
      }
    }
  }

  .logo-container {
    img {
      width: 10vh;
    }
  }

  .nav-links-ul {
    width: 25%;
    display: flex;
    justify-content: space-around;
    a {
      color: $black;
      transition: 0.3s ease-in-out;
      font-size: var(--fs-paragraph);
      &:hover {
        color: $SemiBlack;
      }
    }
  }
}

//----------------------- SideBar -------------------------------------

.sidebar-container {
  background-color: $black;

  .offcanvas-header {
    padding: 3rem 1rem 1rem 1rem;
  }

  .btn-close {
    background-color: $PrimaryColor;
    padding: 1rem 0.8rem;
    border-radius: 0;
    color: #fff;
    opacity: 1;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: $PrimaryColor;
    }
  }
  .sidebar-title {
    width: 100%;
    padding: 0.4rem 0rem;
    margin: 10px;
    border: 1px solid $white;
    text-align: center;

    h3 {
      font-family: $Roboto;
      padding: 5px;
      color: $white;
      letter-spacing: 5px;
      font-size: var(--fs-heading);
    }
  }

  .sidebar-ul {
    padding: 0vh 3vh;
    .nav-link {
      font-size: 1.2rem;
      letter-spacing: 2px;
      border-bottom: 1px solid $Grey;
      margin-bottom: 2rem;
      transition: 0.3s ease-in-out;

      a {
        font-family: $Anek;
        color: $white;
        font-size: var(--fs-paragraph);
        transition: 0.3s ease-in-out;
        &:hover {
          color: $SemiBlack;
        }
      }
      &:hover {
        a {
          color: $SemiBlack;
        }
      }
    }
  }

  .sidebar-search {
    padding: 2vh 3vh;
    input {
      background-color: transparent;
      font-family: $Roboto;
      // background: url(../assets/Icons/username.png) no-repeat scroll 7px 14px;
      // padding-left: 40px;
      // background-size: 20px;
      color: $white;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid $Grey;
      font-size: var(--fs-paragraph);
      transition: 0.3s ease-in-out;
      &::placeholder {
        background: url(../assets/Icons/search.png) no-repeat scroll 7px 0px;
        padding-left: 35px;
        background-size: 20px;
      }

      &:focus {
        border-radius: 0px;
        box-shadow: none;
      }
    }
    button {
      font-size: var(--fs-paragraph);
      color: $AccentColor;
      border-radius: 0;
      border-color: $PrimaryColor;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: $PrimaryColor;

        border-color: $PrimaryColor;
      }
      &:focus {
        background-color: $PrimaryColor;
        box-shadow: none;
        border-color: $PrimaryColor;
      }
    }
  }
}
